html, body {
    width: 100px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .enabled {
    background-color: #fffb00;
  }

  .enabled:hover {
    background-color: #0beb4e;
  }  
  
  .disabled {
    background-color: #fffb00;
  }
  
  .disabled:hover {
    background-color: #ff0800;
  }
